{% extends "base.html" %}
{% load static %}

        {% block contenido %}

<form method="get" name="gna_form" action="/gna/generar" >

  <label>x:</label>
  <input type="text" id="x_val" name="x" placeholder="valor X" required><br>

  <label>m:</label>
  <input type="text" id="m_val" name="m" placeholder="valor M" required><br>

  <label>a:</label>
  <input type="text" id="a_val" name="a" placeholder="valor A" required
   oninput="check(this)"><br>

  <label>c:</label>
  <input type="text" id="c_val" name="c" placeholder="valor C" required><br>
  
  <label>filas:</label>
  <input type="text" id="filas_val" name="filas" value="1" min="1" max="30" required><br>

  <label>p:</label>
  <input type="text" id="p_val" name="p" value="1" min="1" max="4" required><br>


  <input type="submit" value="Generar numero" /> 
</form>


Resultados:
{{periodu}}
<!--{{data}}-->

<table border="solid">
  {% if "N" in result  %}
    {{result}}
  {% else %}
    

  {% for r in result %}
    {% for i in r %}
    {% cycle '<tr>' '' '' '' %}
      
     <td>{{i}}</td>
    {% cycle  '' '' '' '</tr>' %}
    {% endfor %}
  {% endfor %}


  {% endif %}
</table>


        {% endblock %}